import datetime
import os.path
import time
from influxdb_client import InfluxDBClient, Point
from influxdb_client .client.write_api import SYNCHRONOUS

from HX711 import *
from datetime import timedelta

hx = SimpleHX711({{gpio_pin_data}}, {{gpio_pin_clock}}, {{hx711_reference_unit}}, {{hx711_zero_value}})
hx.setUnit(Mass.Unit.G)
hx.zero()

while True:
  client = InfluxDBClient(url="http://localhost:8086", token="{{influx_token}}", org="{{influx_org}}")
  write_api = client.write_api(write_options=SYNCHRONOUS)

  wt = round(float(hx.weight(timedelta(seconds=1.5))),0)
  _point = Point("bowl").tag("location","kitchen").field("grams", wt)
  write_api.write(bucket="{{influx_bucket}}", record=[_point])

  client.close()
  
  time.sleep(0.5)
  