import datetime
import os.path
import time
from HX711 import *
from datetime import timedelta

hx = SimpleHX711({{gpio_pin_data}}, {{gpio_pin_clock}}, {{hx711_reference_unit}}, {{hx711_zero_value}})
hx.setUnit(Mass.Unit.G)
hx.zero()

if not os.path.exists("{{data_file}}"):
  with open("{{data_file}}", "w") as myfile:
    myfile.write("time,weight\n")

while True:
  with open("{{data_file}}", "a") as myfile:
    wt = round(float(hx.weight(timedelta(seconds=1.5))),0)
    myfile.write(datetime.datetime.now().isoformat() + "," + str(wt) + "\n")
    time.sleep(0.5)
